.card {
    height: 40vh;
    width: 80vw;
    margin-left: 10%;
    margin-top: 10%;
    background-color: #22293B;
    border-radius: 2%;
}
.image {
    height: 10vh;
    border-radius: 50%;
    margin-left: 10%;

}
.board {
    display: flex;
    margin-top: 10%;
}
.paragraph p {
    text-align: left;
}